{% extends 'base.html' %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center mt-5">
    <div class="m-3 w-25 border border-secondary rounded">
        <form class="d-flex flex-column mx-3 mt-3" method="post" action="">
            {% csrf_token %}

            <label class="form-label" for="id_username">Логин</label>
            <input class="form-control" type="text" name="username" id="id_username">

            <label class="form-label mt-3" for="id_password">Пароль</label>
            <input class="form-control" type="password" name="password" id="id_password">

            <input class="mt-3 btn btn-primary w-50" type="submit" value="Подтвердить">
        </form>
    </div>
    </div>
{% endblock %}