{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav class="d-flex justify-content-between navbar navbar-expand-lg bg-light">
        <div class="d-flex flex-row">
            <a class="text-decoration-none link-dark"
           href="{% url 'index' %}"><div class="navbar-brand h3 mx-3">The Tape</div>
        </a>
        <ul class="navbar-nav">
            {% for category in categories %}
                <li class="nav-item">
                    <a class="nav-link link-dark" href="{% url 'category' category.id %}">{{ category.title }}</a>
                </li>
            {% endfor %}
        </ul>
        </div>
        <div>
            <form method="get">
                <input class="mx-3 mt-2" name="query" type="text" placeholder="Поиск">
            </form>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>