{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-column mx-3">
    <div class="d-flex flex-row">
        {% if chosen_category %}
            <h3 class="mt-2">{{ chosen_category.title }}</h3>
        {% else %}
            <h3 class="mt-2">Тексты</h3>
        {% endif %}
        <div><a href="{% url 'new' %}" type="button" class="btn btn-outline-dark mx-4 mt-2">Добавить</a></div>
    </div>
    <div class="row row-cols-3">
        {% if articles.count == 0 %}
            <p class="mt-4">По вашему запросу ничего не найдено</p>
        {% endif %}
        {% for article in articles %}
            <div class="col my-2">
                <div class="p-3 h-100 border border-secondary rounded bg-light"
                     onclick="location.href='{% url "show" article.id %}';"
                     style="cursor: pointer;">
                    <b>{{ article.headline }}</b>
                    <p>{{ article.brief }}</p>
                    <p class="mt-2">{{ article.publish_date|date:'m/d/Y' }}</p>
                    <a href="{% url 'edit' article.id %}" type="button" class="btn btn-outline-dark">Редактировать</a>
                    <a href="{% url 'delete' article.id %}" type="button" class="btn btn-outline-danger mx-2">Удалить</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}