{% extends "base.html" %}
{% load tags %}

{% block content %}
    <div class="d-flex flex-column mx-3">
        <h2 class="mt-2">Добро пожаловать в меню рассылки!</h2>
        <form class="d-flex flex-column mt-3 w-50" method="post" action="">
            {% csrf_token %}
            <label for="id_topic" class="form-label">Тема</label>
            <input type="text" class="form-control" name="topic" id="id_topic">


            <label for="id_message" class="form-label mt-1">Текст сообщения</label>
            <textarea class="form-control" rows="10" name="message" id="id_message"></textarea>

            <input type="submit" class="btn btn-outline-dark w-25 mt-3" value="Отправить">
        </form>
    </div>
{% endblock %}