{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-column mx-3">
    <div class="p-3 m-5 h-100 border border-secondary rounded bg-light">
        <h4>Lorem ipsum dolor</h4>
        <b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse congue diam est</b>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Mauris quis semper orci. Cras id euismod nunc, ac maximus arcu.
            Fusce non mauris laoreet, sollicitudin turpis a, mollis tortor.
            Etiam at fringilla quam. Fusce dictum libero libero, at vestibulum nunc consequat quis.
            In hac habitasse platea dictumst. Donec egestas odio non consectetur molestie.
            Aenean finibus maximus sapien ac aliquet. Donec quis fringilla nibh.
            Integer aliquam efficitur justo laoreet sagittis.
            Donec tincidunt odio eget vulputate hendrerit.
            Etiam eget erat rhoncus, tincidunt dolor dictum, maximus purus.
            Maecenas semper, sapien vulputate pretium ornare, magna purus accumsan velit, et feugiat dolor neque id nunc.
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            Phasellus sem urna, sollicitudin et dolor quis, malesuada faucibus dui.
            Sed eget aliquet metus, eu iaculis ex.
            In eget consectetur ex, eget tempor enim.
            Nunc lacinia congue vehicula. Sed ullamcorper aliquet nunc eget tempor.
            Cras pharetra posuere lorem, sit amet mollis justo interdum vitae.
            Nullam venenatis turpis eu venenatis ornare. Phasellus vitae tortor a ante iaculis porta.
            Mauris non sapien mauris.
            Curabitur vel nisl tincidunt, tempor metus vel, aliquet nibh.
            Pellentesque euismod neque at ligula iaculis aliquet.
            Nam id vulputate tellus. Ut luctus id ante id lacinia.
            Ut ac ultrices tellus. Donec pulvinar vitae elit in elementum.
            Sed eu interdum urna, at congue eros.
            Donec cursus, est vitae consectetur ultrices, metus diam commodo libero, et fermentum ligula erat a velit.
            Cras tortor tortor, consectetur vel tincidunt non, aliquam ac est.
            Cras at dolor pretium, egestas magna ac, efficitur neque. Etiam eu dui id enim placerat finibus.
            Cras eget tincidunt turpis, ac condimentum quam. Mauris ut sapien aliquet, tincidunt nibh sit amet, bibendum nibh.
            Nulla facilisi. Curabitur id eleifend turpis. Phasellus risus ligula, faucibus quis congue in, tempus vitae tellus.</p>
    </div>
</div>
{% endblock %}